# Python
backend/venv/
__pycache__/
*.py[cod]
*.db
instance/

# Node
frontend/node_modules/
frontend/dist/

# Vite
.vite/
*.local

# IDE
.vscode/
.idea/

# OS
.DS_Store

criterion/

# Firebase
backend/firebase-credentials.json
firebase-credentials.json
*-firebase-adminsdk-*.json
